<ion-header class="activity__header">
  <ion-toolbar class="activity__toolbar">
    <ion-title class="activity__title">What do you want to do?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="activity__body">
  <ion-searchbar class="activity__search" [(ngModel)]="searchText" (ionInput)="setFilteredItems($event)" debounce="500">
  </ion-searchbar>

  <div class="activity__content">
    <div class="activity__card ion-activatable ripple-parent" *ngFor="let activity of activities;"
      (click)="displayCardDetails(activity.eventName, activity.imageUrl)">
      <div class="activity__img" [style.background-image]="'url(' + activity.imageUrl + ')'"></div>
      <span class="activity__text">{{activity.eventName | uppercase }}</span>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</ion-content>