<ion-content class="match">
    <h1 class="match__title">Congratulation!</h1>
    <h3 class="match__subtext">It's match!</h3>
    <div class="match__person">
        <div class="match__person_partition1">
            <img src="../../assets/images/men.jpg" alt="image" class="match__person_partition1_img">
            <h3>Michael, Stratham</h3>
        </div>
        <div  class="match__person_partition2">
            <img src="../../assets/images/woman.jpg" alt="image" class="match__person_partition2_img">
            <h3>Jane, Edward</h3>
        </div>
    </div>
    <h3 class="match__event">TRAVEL Sat 01:30 IST</h3>
    <h3 class="match__date">13th FEB 2021 </h3>
    <button type="button" class="match__button">SEND MESSAGE</button>
</ion-content>
