<ion-content [fullscreen]="true" class="register wave">
  <div class="wave__bg">
    &nbsp;
  </div>
  <div class="wave__wrap">
    <img src="./../../assets/images/wave.svg" alt="Wave" class="wave__svg">
  </div>

  <div class="register__body">
    <div class="register__header">Create Account</div>
    <div class="register__avatar">
      <img src="./../../../assets/images/profile.svg" alt="Avatar" class="register__avatar--img">
    </div>

    <div class="register__form form">
      <div class="form__group">
        <ion-item>
          <ion-input type="text" placeholder="Mobile No" required></ion-input>
        </ion-item>
      </div>

      <div class="form__group">
        <ion-item>
          <ion-input type="text" placeholder="Email" required></ion-input>
        </ion-item>
      </div>

      <div class="form__group">
        <ion-item>
          <ion-input type="text" placeholder="D.O.B" required></ion-input>
        </ion-item>
      </div>

      <div class="form__group">
        <ion-item>
          <ion-input type="text" placeholder="Employment" required></ion-input>
        </ion-item>
        <span>(Optional)</span>
      </div>

      <div class="form__group">
        <ion-item>
          <ion-textarea rows="3" placeholder="Description"></ion-textarea>
        </ion-item>
        <span>(Max 30 chars)</span>
      </div>

      <div class="form__group form__group--last ion-activatable ripple-parent">
        <a href="javascript:void(0)" class="form__group--continue" (click)="navToActivities()">Continue &rarr;</a>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>
</ion-content>