.register {
  &__body {
    padding: 1rem;

    & > * {
      margin-bottom: 2rem;
    }
  }

  &__header {
    padding-top: 1rem;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 5rem;
      width: 5rem;
    }
  }

  &__form {
    & > * {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }

    .form {
      &__group {
        position: relative;

        ion-item {
          //   --background: transparent;
          --color: #111;
          border-radius: 0.5rem;
          font-size: 0.8rem;
          width: 20rem;
        }

        span {
          position: absolute;
          right: calc((100% - 20rem) / 2);
          bottom: -1.75rem;
          color: var(--ion-color-warning);
          width: 20rem;
          text-align: right;
          font-size: smaller;
        }
      }
    }
  }
}
