<ion-content class="event">
  <form [formGroup]="eventForm" class="event__form form">
    <div class="form__when">When?</div>

    <div class="form__group">
      <ion-item>
        <ion-datetime displayFormat="DD-MMM-YY HH:mm" formControlName="eventTime" required placeholder="When?">
        </ion-datetime>
      </ion-item>
    </div>

    <div class="form__with">With Who?</div>

    <div class="form__group form__tag-friends">
      <mat-form-field class="form__field" appearance="outline">
        <input type="text" placeholder="Tag your friends" matInput [matAutocomplete]="auto"
          formControlName="friendsList">
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let user of filteredFriends | async" [value]="selectedFriends">
          <div (click)="optionClicked($event, user)">
            <mat-checkbox [checked]="user.selected" (change)="toggleSelection(user)" (click)="$event.stopPropagation()">
              <span class="form__option">
                <img class="form__img" aria-hidden [src]="user.imgUrl" height="25">
                <span>{{user.userName}}</span>
              </span>
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>

      <button mat-flat-button class="form__add" (click)="openBottomSheet()">Add</button>
    </div>

    <div class="form__stories">
      <img src="./../../../assets/images/male.svg" alt="Male" class="form__tag">
      <img src="./../../../assets/images/female.svg" alt="Female" class="form__tag">
      <img src="./../../../assets/images/profile.svg" alt="Profile" class="form__tag">
    </div>

    <div class="form__where">Where?</div>

    <div class="form__group">
      <ion-item>
        <ion-input type="text" formControlName="location" placeholder="Event Location" required></ion-input>
      </ion-item>
    </div>

    <div class="form__unknown">
      <a href="javascript:void(0)" class="form__unknown-location">I dont know..</a>
    </div>

    <div class="form__group form__action ion-activatable ripple-parent">
      <a href="javascript:void(0)" class="form__continue" (click)="navToEvents()">Continue &rarr;</a>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </form>
</ion-content>