<ion-content class="auth">
  <div class="auth__wave--bg">
    &nbsp;
  </div>
  <div class="auth__wave">
    <img src="./../../assets/images/wave.svg" alt="Wave" class="auth__wave--svg">
  </div>
  <div class="auth__logo app-logo">machWas</div>

  <div class="auth__welcome">
    Hello! You are...
  </div>

  <div class="auth__form form">
    <div class="form__group">
      <ion-item>
        <!-- <ion-label position="floating" color="primary">Name</ion-label> -->
        <ion-input type="text" placeholder="Name" required [(ngModel)]="userName"></ion-input>
      </ion-item>
    </div>

    <div class="form__btn ion-activatable ripple-parent">
      <a href="javascript:void(0)" class="form__btn--continue" (click)="navToRegister()">Continue &rarr;</a>
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="form__text">
      OR
    </div>

    <div class="form__login login">
      <div class="form__login--instagram login__insta ion-activatable ripple-parent" (click)="loginWithInsta()">
        <img src="./../../assets/images/insta-icon.svg" alt="Insta" class="login__icon">
        <div class="login__text">Login with Instagram</div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="form__login--mobile login__mobile ion-activatable ripple-parent" (click)="loginWithPhone()">
        <img src="./../../assets/images/phone-icon.svg" alt="Mobile" class="login__icon">
        <div class="login__text">Login with Mobile</div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>

  <!-- <div [innerHTML]="frameSrc"></div> -->
  <!-- <iframe width="100%" height="700" [srcdoc]="frameSrc" frameborder="0"></iframe> -->
</ion-content>