<ion-content class="events">
  <div class="events__wave">
    &nbsp;
    <!-- <img src="./../../assets/images/topWave.svg" alt="Wave" class="events__wave--svg"> -->
  </div>

  <div class="app-logo events__logo">machWas</div>

  <div class="events__slider">
    <ion-slides pager="false" [options]="slideOpts" #slider>
      <ion-slide class="slide">
        <div class="slide__img" style="background-image: url('assets/images/badminton.jpg');">&nbsp;</div>
        <h1 class="slide__activity">Badminton Sat 17:00 IST</h1>
        <div class="slide__location">Chennai</div>
        <div class="slide__about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ratione sit commodi
          voluptatem.</div>
        <div class="slide__date">20 March 2020</div>
      </ion-slide>

      <ion-slide class="slide">
        <div class="slide__img" style="background-image: url('assets/images/tennis.jpg');">&nbsp;</div>
        <h1 class="slide__activity">Tennis Sat 17:00 IST</h1>
        <div class="slide__location">Delhi</div>
        <div class="slide__about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ratione sit commodi
          voluptatem.</div>
        <div class="slide__date">20 March 2020</div>
      </ion-slide>

      <ion-slide class="slide">
        <div class="slide__img" style="background-image: url('assets/images/soccer.jpg');">&nbsp;</div>
        <h1 class="slide__activity">Soccer Sat 17:00 IST</h1>
        <div class="slide__location">Mumbai</div>
        <div class="slide__about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ratione sit commodi
          voluptatem.</div>
        <div class="slide__date">20 March 2020</div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>