.chat {
  &__avatars {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }

  &__avatar {
    background-image: url(../../../assets/images/female.svg);
    background-size: cover;
    background-position: bottom;
    width: 3.5rem;
    height: 3.5rem;
  }

  &__title {
    padding: 0;
  }

  ion-slides {
    .swiper-pagination {
      display: none;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0;
    max-height: calc(100vh - 8rem);
    overflow-y: auto;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    & > *:last-child {
      margin-bottom: 0.5rem;
    }
  }

  &__card {
    width: 100%;
    display: flex;
    align-items: center;

    .chat__time {
      text-align: left;
      left: 0;
    }
  }

  &__bg {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0.75rem;
    background: #fff;
    color: var(--ion-color-secondary-tint);
    max-width: 60%;
    padding: 0.75rem;
    position: relative;
  }

  &__my-texts {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .chat__img {
      order: 3;
      margin-right: 0.5rem;
      margin-left: 1rem;
    }

    .chat__bg {
      background: darken(#ff6353, 10);
      color: #fff;
    }

    .chat__time {
      text-align: right;
      right: 0;
    }
  }

  &__img {
    background-image: url(../../../assets/images/female.svg);
    background-size: cover;
    background-position: bottom;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    border: 2px solid white;
    border-radius: 50%;
  }

  &__msg {
    font-size: 12px;
  }

  &__time {
    position: absolute;
    top: -1.25rem;
    font-size: 10px;
    color: #fff;
    width: 100%;
  }

  &__keyboard {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background: linear-gradient(to bottom, transparent, #ff5240);
    display: flex;

    ion-item {
      flex: 0 0 85%;
    }

    ion-button {
      flex: 0 0 15%;
      display: flex;
      align-items: center;
    }
  }

  &__sent {
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darken(#ff6353, 10);

    .mat-icon {
      color: #fff;
    }
  }
}
