<ion-tabs class="activity__tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="groups">
      <mat-icon>groups</mat-icon>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="activities">
      <mat-icon>search</mat-icon>
    </ion-tab-button>

    <ion-tab-button tab="messaging">
      <mat-icon>chat</mat-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <mat-icon>person</mat-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>