<ion-tabs class="activity__tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="groups">
      <mat-icon>groups</mat-icon>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="messaging">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="activities">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="myads">
      <ion-icon name="megaphone-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>