<ion-header class="group__header" color="light">
  <ion-toolbar color="light">
    <div class="group__title">
      <div class="group__friends">Friends</div>
      <ion-searchbar class="group__search" placeholder="Search..."></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="group">
  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
    <ion-segment-button value="Friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>

    <ion-segment-button value="invite">
      <ion-label>Invite</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="group__cards" *ngIf="selectedSegment === 'Friends'">
    <div class="group__card card" *ngFor="let friend of friends">
      <img class="card__avatar" [src]="friend.profilePic ? friend.profilePic : 'assets/images/whatsapp.png'">

      <div class="card__contact">
        <div class="card__name">{{friend.userName}}</div>
        <div class="card__phone">{{friend.mobileNo}}</div>
      </div>
    </div>
  </div>

  <div class="group__cards" *ngIf="selectedSegment === 'invite'">
    <div class="group__card card" *ngFor="let c of contacts">
      <div class="card__avatar">{{c.displayName[0]}}</div>

      <div class="card__contact">
        <div class="card__name">{{c.displayName}}</div>
        <div class="card__phone">{{c.phoneNumbers[0]}}</div>
      </div>

      <div class="card__invite">
        <ion-button class="card__invite-btn" fill="clear" size="small" (click)="addFriend(c.phoneNumbers[0])">
          <ion-icon slot="icon-only" name="add" color="tertiary"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>