/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./assets/fonts/stylesheet.css";
@import "~ngx-toastr/toastr";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(assets/fonts/MaterialIcons-Regular.ttf) format("truetype"),
    url(assets/fonts/MaterialIconsOutlined-Regular.otf) format("opentype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

ion-content {
  // --background: linear-gradient(
  //   to top,
  //   rgb(255, 82, 64) 0%,
  //   rgb(255, 33, 97) 60%,
  //   rgb(255, 0, 119) 100%
  // );
  --background: linear-gradient(to bottom, rgb(255, 0, 119), rgb(255, 82, 64));
}

ion-toolbar {
  --background: linear-gradient(to right, rgb(255, 0, 119), rgb(255, 82, 64));
}

.btn {
  &__white {
    color: #fff;
    font-weight: normal;
    font-size: 0.8rem;
    text-decoration: none;
  }
}

.wave {
  position: relative;

  &__wrap {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    display: flex;
  }

  &__svg {
    width: 100%;
    height: 100%;
  }

  &__bg {
    position: fixed;
    bottom: 0;
    height: 1.25rem;
    width: 100%;
    background-color: #fff;
  }
}

app-details {
  .mat-form-field {
    --color: #111;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    width: 20rem;

    .mat-form-field-wrapper {
      background-color: #fff;
      padding-bottom: 0;
      margin: 0;
      border-radius: 0.5rem;

      input {
        color: #111;
      }
    }
  }
}

.app-logo {
  color: white;
  font-family: "chewyregular";
  font-size: 3rem;
  text-align: center;
  margin: 20% 0;
}

app-groups {
  ion-searchbar {
    input {
      --box-shadow: none !important;
      background: #ddd !important;
    }
  }
}

app-myads {
  .mat-tab-header {
    background-color: #fff;
  }
}
